<!DOCTYPE html>
<html>
	<head>
  		<title>TravelleX | <%= @title %></title>



  		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<link href='http://fonts.googleapis.com/css?family=Raleway:100,300' rel='stylesheet' type='text/css'>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>	<!--Start of header-->
			<div class="header-image">
				<h1>TravelleX</h1>
				<h2>THE WORLD IS BEYOND A CLICK !!</h2>	<!--The title for the webpage-->
			</div>
			<nav>	<!--start of navbar-->
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					
					<li>
						<a href="/china">China</a>	<!--The navigation bar for the list of countries-->
					</li>
					
					<li>
						<a href="/korea">Korea</a>
					</li>
					
					<li>
						<a href="/japan">Japan</a>
					</li>
				</ul>
			</nav> <!--End of navbar-->
		</header> <!--end of header-->
			
	 <div class= "main">
		<div class= "content">
			<%= yield %>
			</div>
		</div>
			
		
	
	<div class= "footer"> <!--Footer-->

	<p id="footer_content">Developed By : Kelvin , Faizal , Izzy	</p>	<!--Footer to show developer-->
	<p id="feed">RSS feeds</p>
	</div>

	</body>
</html>
