<!DOCTYPE html>
<html>
	<head>
  		<title>TravelleX | <%= @title %></title>
  		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class="header-image">
				<h1>TravelleX</h1>
				<h2>THE WORLD IS BEYOND A CLICK !!</h2>	<!--The title for the webpage-->
			</div>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					
					<li>
						<a href="/china">China</a>	<!--The navigation bar for the list of countries-->
					</li>
					
					<li>
						<a href="/korea">Korea</a>
					</li>
					
					<li>
						<a href="/japan">Japan</a>
					</li>
				</ul>
			</nav>
		</header>
			<div id="booking"><a href="www.airasia.com"><p><strong>BOOK NOW !!!</strong></p><a></div>
	 <div class= "main">
		<div class= "content">
			<%= yield %>
			</div>
		</div>
		
		
	
	<div class= "footer">

	<p id="footer_content">Developed By : Kelvin , Faizal , Izzy<p>	<!--Footer to show developer-->

	</div>

	</body>
</html>
